<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous">
    </script>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="border rounded-1 rounded-bottom mt-5">
                    <h4 class="text-center border-bottom p-3 bg-dark bg-gradient text-white"><span class="me-2"><img style="width:6%;" src="https://play-lh.googleusercontent.com/YpAV7Q-ZJhI5tzFk_wEX-7-x2BydtnCtFTVUrmq0zAO6jLCLA4nNcfem3p_Pyowg9w" alt="logo"></span>Регистрация</h4>
                    <div class="row">
                        <div class="form-error text-center text-danger fw-light">{{ form.non_field_errors }}</div>
                        <div class="col-lg-9 mx-auto mt-4">
                            <form class="text-center" action="{% url 'register' %}" method="POST">
                                {% csrf_token %} 
                                <div class="input-group">
                                    {% for f in form %}
                                    <p class="text-start mb-2 mx-2 fw-light"><strong>{{ f.label }}</strong></p>
                                    <p class="text-start w-100 mx-2"> {{ f }}</p>
                                    <div class="form-error">{{ f.errors }}</div>
                                    {% endfor %}
                                </div>
                                <p class="text-center mt-2 mb-5"><input class="btn btn-primary bg-gradient rounded-1 px-4" type="submit" value="Зарегистрироваться"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        console.log($('#id_is_employer'))
        $('#id_is_employer').click(function(){
            if ($(this).is(':checked')){
                $('strong')[2].innerText = 'Наименование компании:*'
            } else {
                $('strong')[2].innerText = 'Имя:*'
            }
        });    
    </script>
</body>
</html>
