{% extends 'applicant/base.html' %}

{% load static %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 block">
    <div class="text-center my-5">
        {% if user_obj.avatar %}
        <p><img class="avatar" src="{{ user_obj.avatar.url }}" alt="photo"></p>
        {% else %}
        <p><img class="avatar" src="{% static 'applicant/img/no-photo.png' %}" alt="photo"></p>
        {% endif %}
        <p><strong>{{ user_obj.username }}</strong></p>
        <p class="mt-4">
            <a href="{% url 'logout' %}" class="btn btn-outline-primary">Выйти из профиля</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Удалить профиль
            </button>
        </p>
    </div>
    <div class="text-left my-5">
        <p><strong class="me-3">Имя:</strong>{{ user_obj.first_name }}</p>
        <p><strong class="me-3">Номер телефона:</strong>{{ user_obj.phone }}</p>
        <p><strong class="me-3">Адрес электронной почты:</strong>{{ user_obj.email }}</p>
        <p><strong class="me-3">Telegram:</strong>{{ user_obj.telegram }}</p>
        {% if user_obj.telegram %}
        <p><strong class="me-3">Facebook:</strong>{{ user_obj.facebook }}</p>
        {% endif %}
        {% if user_obj.telegram %}
        <p><strong class="me-3">Linkedin:</strong>{{ user_obj.linkedin }}</p>
        {% endif %}
        <p class="mt-4">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                Редактировать
            </button>
            <a href="{% url 'password_change' %}" class="btn btn-outline-primary">Сменить пароль</a>
        </p>
    </div>
</div>

<!-- Modal 1-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Подтверждение удаления профиля</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Вы точно хотите удалить свой профиль?
            </div>
            <div class="modal-footer">
                <form action="{% url 'profile_del' user_obj.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Да, хочу</button>
                    <a href="" type="button" class="btn btn-primary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактирование профиля</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-error text-center text-danger fw-light">{{ form.non_field_errors }}</div>
                    <div class="col-lg-9 mx-auto mt-4">
                        <form class="text-center" action="{% url 'profile_applicant' user_obj.pk %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %} 
                            <div class="input-group">
                                {% for f in form %}
                                <p class="text-start mb-2 mx-2 fw-light"><strong>{{ f.label }}</strong></p>
                                <p class="text-start w-100 mx-2"> {{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                                {% endfor %}
                            </div>
                    </div>
                </div>   
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Сохранить</button>
                    <a href="" type="button" class="btn btn-primary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'applicant/js/profile_update.js' %}"></script>
{% endblock %}