{% extends 'accounts/base.html' %}

{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="border rounded-1 rounded-bottom mt-5 block">
                <h4 class="text-center border-bottom p-3 bg-dark bg-gradient text-white">
                    <span class="me-2">
                        <img class="logo-hh" src="{% static 'accounts/img/logo-hh.png' %}" alt="logo">
                    </span> Вход в систему
                </h4>
                <div class="row">
                    <div class="form-error text-danger fw-light">{{ form.non_field_errors }}</div>
                    <div class="col-lg-8 mx-auto mt-4">
                        <form class="text-center" action="{% url 'login' %}" method="POST">
                            {% csrf_token %}   
                            <div class="input-group">
                                {% for f in form %}
                                <p class="text-start mb-2 mx-2 fw-light"><strong>{{ f.label }}</strong></p>
                                <p class="text-start w-100 mx-2"> {{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                                {% endfor %}
                            </div>
                            <p class="text-center mt-2 mb-5"><input class="btn btn-primary bg-gradient rounded-1 px-4" type="submit" value="Войти"><a class="ms-2" href="{% url 'register' %}">Регистрация</a></p>         
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
