{% extends 'accounts/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="border rounded-1 rounded-bottom mt-5">
                <h4 class="text-center border-bottom p-3 bg-dark bg-gradient text-white"><span class="me-2"><img style="width:6%;" src="https://play-lh.googleusercontent.com/YpAV7Q-ZJhI5tzFk_wEX-7-x2BydtnCtFTVUrmq0zAO6jLCLA4nNcfem3p_Pyowg9w" alt="logo"></span>Регистрация</h4>
                <div class="row">
                    <div class="form-error text-center text-danger fw-light">{{ form.non_field_errors }}</div>
                    <div class="col-lg-9 mx-auto mt-4">
                        <form class="text-center" action="{% url 'register' %}" method="POST">
                            {% csrf_token %} 
                            <div class="input-group">
                                {% for f in form %}
                                <p class="text-start mb-2 mx-2 fw-light"><strong>{{ f.label }}</strong></p>
                                <p class="text-start w-100 mx-2"> {{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                                {% endfor %}
                            </div>
                            <p class="text-center mt-2 mb-5"><input class="btn btn-primary bg-gradient rounded-1 px-4" type="submit" value="Зарегистрироваться"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log($('#id_is_employer'))
    $('#id_is_employer').click(function(){
        if ($(this).is(':checked')){
            $('strong')[2].innerText = 'Наименование компании:*'
        } else {
            $('strong')[2].innerText = 'Имя:*'
        }
    });    
</script>
{% endblock %}
